<section class="slds-box paginated-table" style="padding: 0">
  <div class="table-filter" *ngIf="!isLoading; else loaderBlock">
    <button
      [(nglPopoverOpen)]="openedFilter"
      [nglPopover]="widgetFilter"
      class="slds-button--icon-more"
      nglButton
      nglPopoverHeader="Filter Table"
      nglPopoverPlacement="bottom-right"
      nglPopoverSize="large"
      type="button"
    >
      <ngl-icon
        alternativeText="Filter"
        iconName="utility:filter"
        size="x-small"
      ></ngl-icon>
      <ngl-icon
        alternativeText="Filter"
        class="slds-m-left--x-small"
        iconName="utility:down"
        size="x-small"
      ></ngl-icon>
    </button>
  </div>

  <table
    (sortChange)="onSort($event)"
    [sort]="sort"
    [data]="dataSet"
    class="slds-table slds-table_fixed-layout slds-table_resizable-cols tables"
    ngl-datatable
    trackByKey="jobs.applicant_progress"
  >
    <ngl-datatable-column
      [sortable]="true"
      [truncate]="true"
      heading="Current Stage"
      key="jobs.applicant_progress"
    >
      <ng-template let-row="row" nglDatatableCell>
        {{ row.jobs[row.jobs.length - 1].applicant_progress }}
      </ng-template>
    </ngl-datatable-column>
    <ngl-datatable-column
      [sortable]="true"
      [truncate]="true"
      key="full_name"
      heading="Full Name"
    >
      <ng-template let-row="row" nglDatatableCell>
        <div class="slds-grid">
          <span class="slds-truncate slds-col slds-size_3-of-5">
            {{ row.full_name }}
          </span>
          <ngl-icon
            (click)="onClickInfo(row.id)"
            [nglPopoverFooter]="closeDialogBlock"
            [nglPopoverOpen]="(selectedId$ | async) === row.id"
            [nglPopover]="applicantDetailsBlock"
            [nglTooltipOpenAuto]="true"
            nglPopoverPlacement="right"
            alternativeText="Click to View"
            class="slds-m-bottom--xx-small slds-datepicker_time__list"
            iconName="utility:info"
            nglPopoverSize="large"
            nglPopoverVariant="panel"
            nglTooltip="Click to View"
            nglTooltipPlacement="top"
            size="x-small"
            variant="warning"
          ></ngl-icon>
        </div>
      </ng-template>
    </ngl-datatable-column>
    <ngl-datatable-column
      [sortable]="true"
      [truncate]="true"
      heading="Position"
      key="jobs.job_title"
    >
      <ng-template let-row="row" nglDatatableCell>
        {{ row.jobs[row.jobs.length - 1].job_title }}
      </ng-template>
    </ngl-datatable-column>
  </table>
  <ngl-pagination
    (pageChange)="onPageChange($event)"
    [page]="currentPage"
    [perPage]="pageSize"
    [boundaryNumbers]="1"
    [limit]="5"
    [total]="total"
    class="slds-float_right"
  ></ngl-pagination>
</section>

<ng-template #applicantDetailsBlock>
  <brd-applicant-details
    *ngIf="selectedApplicant$ | async as applicant"
    [applicant]="selectedApplicant$ | async"
  ></brd-applicant-details>
</ng-template>

<ng-template #closeDialogBlock>
  <div class="slds-align--absolute-center sdl_outline-button-bitovi">
    <button
      (click)="closeUserInfoModal()"
      nglButton
      type="button"
      variant="neutral"
      class="u-min-w-5"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #widgetFilter>
  <div class="slds-p-around_small slds-grid slds-wrap slds-p-bottom--large">
    <brd-date-picker
      [startDate]="filters.date.startDate"
      [endDate]="filters.date.endDate"
      (dateChanged)="changeCustomDate($event)"
    ></brd-date-picker>

    <brd-combobox
      class="u-w-100"
      label="Select Option"
      [options]="jobsLabels"
      (selectionChanged)="onItemSelected($event)"
      [selections]="itemSelected"
    ></brd-combobox>
  </div>
</ng-template>

<ng-template #loaderBlock>
  <div class="loader-overlay">
    <ngl-spinner
      size="large"
      variant="brand"
      alternativeText="Loading"
    ></ngl-spinner>
  </div>
</ng-template>
