<div class="flex flex-column">
  <brd-date-picker
    *ngIf="filter.type === 'date-interval'"
    [startDate]="filter.value.startDate"
    [endDate]="filter.value.endDate"
    (dateChanged)="filterDateIntervalChange($event, filter)"
  ></brd-date-picker>
  <brd-filter-select-job
    *ngIf="filter.type === 'select-job'"
    [filter]="filter"
    (changed)="filterChange($event)"
  ></brd-filter-select-job>
  <brd-filter-input-text
    *ngIf="filter.type === 'input-text'"
    [filter]="filter"
    (changed)="filterChange($event)"
  ></brd-filter-input-text>

  <brd-filter-select-source></brd-filter-select-source>
</div>
