<section class="slds-box paginated-table" style="padding: 0">
  <table
    (sortChange)="onSort($event)"
    [sort]="(applicantsSort$ | async)!"
    [data]="(applicants$ | async)!"
    class="slds-table slds-table_fixed-layout slds-table_resizable-cols tables"
    ngl-datatable
    trackByKey="jobs.applicant_progress"
  >
    <ngl-datatable-column
      [sortable]="true"
      [truncate]="true"
      heading="Current Stage"
      key="jobs.applicant_progress"
    >
      <ng-template let-row="row" nglDatatableCell>
        {{ row.jobs[row.jobs.length - 1].applicant_progress }}
      </ng-template>
    </ngl-datatable-column>
    <ngl-datatable-column
      [sortable]="true"
      [truncate]="true"
      heading="Full Name"
      key="full_name"
    >
      <ng-template let-row="row" nglDatatableCell>
        <div class="slds-grid">
          <span class="slds-truncate slds-col slds-size_3-of-5">
            {{ row.full_name }}
          </span>
          <ngl-icon
            (click)="onClickInfo(row.id)"
            [nglPopoverFooter]="closeDialog"
            [nglPopoverOpen]="(selectedId$ | async) === row.id"
            [nglPopover]="viewDetails"
            [nglTooltipOpenAuto]="true"
            nglPopoverPlacement="right"
            alternativeText="Click to View"
            class="slds-m-bottom--xx-small slds-datepicker_time__list"
            iconName="utility:info"
            nglPopoverSize="large"
            nglPopoverVariant="panel"
            nglTooltip="Click to View"
            nglTooltipPlacement="top"
            size="x-small"
            variant="warning"
          ></ngl-icon>
        </div>
      </ng-template>
    </ngl-datatable-column>
    <ngl-datatable-column
      [sortable]="true"
      [truncate]="true"
      heading="Position"
      key="jobs.job_title"
    >
      <ng-template let-row="row" nglDatatableCell>
        {{ row.jobs[row.jobs.length - 1].job_title }}
      </ng-template>
    </ngl-datatable-column>
  </table>
  <div class="slds-clearfix">
    <ngl-pagination
      (pageChange)="onPageChange($event)"
      [page]="(applicantsCurrentPage$ | async)!"
      [perPage]="(applicantsPageSize$ | async)!"
      [boundaryNumbers]="1"
      [limit]="5"
      [total]="(totalApplicants$ | async)!"
      class="slds-float_right"
    ></ngl-pagination>
  </div>
</section>

<ng-template #viewDetails>
  <ng-container *ngIf="selectedApplicant$ | async as applicant">
    <header>
      <div class="slds-page-header">
        <div class="slds-media slds-media_center slds-m-bottom_small">
          <span
            class="slds-icon_container slds-icon-standard-account slds-media__figure"
          >
            <ngl-icon iconName="standard:account"></ngl-icon
          ></span>
          <div class="slds-media__body">
            <h2 class="slds-text-heading_medium slds-hyphenate">
              Applicant Details
            </h2>
          </div>
        </div>
        <div class="slds-grid slds-wrap slds-grid_pull-padded">
          <div
            class="slds-p-horizontal_small slds-size_1-of-1 slds-p-bottom_x-small"
          >
            <dl>
              <dt>
                <p class="slds-popover_panel__label slds-truncate" title="Name">
                  Name
                </p>
              </dt>
              <dd>
                <p
                  class="slds-truncate slds-m-left--large"
                  title="3500 Deer Creek Rd."
                >
                  {{ applicant.first_name + " " + applicant.last_name }}
                </p>
              </dd>
              <dt>
                <p
                  class="slds-popover_panel__label slds-truncate"
                  title="Address"
                >
                  Address
                </p>
              </dt>
              <dd>
                <p class="slds-m-left--large" title="3500 Deer Creek Rd.">
                  {{ applicant.location }}
                </p>
              </dd>
              <dt>
                <p
                  class="slds-popover_panel__label slds-truncate"
                  title="Phone"
                >
                  Phone
                </p>
              </dt>
              <dd>
                <p
                  class="slds-truncate slds-m-left--large"
                  title="3500 Deer Creek Rd."
                >
                  {{ applicant.phone }}
                </p>
              </dd>
            </dl>
            <span
              class="slds-text-body_small slds-float--right slds-text-align_right"
              ><a [href]="applicant?.resume_link" target="_blank"
                >View Resume</a
              ></span
            >
          </div>
        </div>
      </div>
    </header>

    <dl class="slds-popover__body-list">
      <dt class="slds-m-bottom_small">
        <div class="slds-media slds-media_center">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-opportunity">
              <ngl-icon iconName="standard:opportunity"></ngl-icon
              ><span class="slds-assistive-text">Activities</span></span
            >
          </div>
          <div class="slds-media__body">
            <p class="slds-text-heading_small slds-hyphenate">All Activity</p>
          </div>
        </div>
      </dt>
      <ul class="slds-timeline">
        <li>
          <div
            [class.slds-is-open]="activityTimelineIsOpened.activity"
            class="slds-timeline__item_expandable slds-timeline__item_task"
          >
            <div class="slds-media">
              <div class="slds-media__figure">
                <button
                  (click)="
                    activityTimelineIsOpened.activity =
                      !activityTimelineIsOpened.activity
                  "
                  aria-controls="activity-item-recent"
                  class="slds-button slds-button_icon"
                  title="more"
                >
                  <svg
                    class="slds-button__icon slds-timeline__details-action-icon"
                  >
                    <use
                      xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"
                    ></use>
                  </svg>
                </button>
                <div
                  class="slds-icon_container slds-icon-standard-task slds-timeline__icon"
                  title="task"
                >
                  <ngl-icon
                    iconName="standard:product_request"
                    size="small"
                  ></ngl-icon>
                </div>
              </div>
              <div class="slds-media__body">
                <div
                  class="slds-grid slds-grid_align-spread slds-timeline__trigger"
                >
                  <div
                    class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space"
                  >
                    <h3 class="slds-truncate" title="Recent">
                      <a href="#">
                        <strong>Recent Activity</strong>
                      </a>
                    </h3>
                  </div>
                  <div
                    class="slds-timeline__actions slds-timeline__actions_inline"
                  >
                    <p class="slds-timeline__date">
                      {{ applicant.apply_date }}
                    </p>
                    <button
                      aria-haspopup="true"
                      class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small"
                      title="More"
                    >
                      <svg aria-hidden="false" class="slds-button__icon">
                        <use
                          xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"
                        ></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <article
                  aria-hidden="true"
                  class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small"
                  id="activity-item-recent"
                >
                  <ul
                    class="slds-has-dividers_around slds-has-block-links_space"
                  >
                    <div
                      *ngIf="
                        !applicant?.activities?.length;
                        else showActivities
                      "
                    >
                      <span>No activity to display ...</span>
                    </div>
                    <ng-template #showActivities>
                      <ng-container
                        *ngFor="let activity of applicant.activities"
                      >
                        <li class="slds-item">
                          <div class="slds-p-around--xx-small">
                            <i class="slds-text-body_small slds-truncate">
                              {{ activity.date }}</i
                            >
                            <p>{{ activity.activity }}</p>
                          </div>
                        </li>
                      </ng-container>
                    </ng-template>
                  </ul>
                </article>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div
            [class.slds-is-open]="activityTimelineIsOpened.comments"
            class="slds-timeline__item_expandable slds-timeline__item_call"
          >
            <div class="slds-media">
              <div class="slds-media__figure">
                <button
                  (click)="
                    activityTimelineIsOpened.comments =
                      !activityTimelineIsOpened.comments
                  "
                  aria-controls="call-item-comments"
                  class="slds-button slds-button_icon"
                  title="Toggle"
                >
                  <svg
                    aria-hidden="true"
                    class="slds-button__icon slds-timeline__details-action-icon"
                  >
                    <use
                      xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"
                    ></use>
                  </svg>
                  <span class="slds-assistive-text">Recent Comments</span>
                </button>
                <div
                  class="slds-icon_container slds-icon-standard-log-a-call slds-timeline__icon"
                  title="call"
                >
                  <ngl-icon
                    iconName="standard:quick_text"
                    size="small"
                  ></ngl-icon>
                </div>
              </div>
              <div class="slds-media__body">
                <div
                  class="slds-grid slds-grid_align-spread slds-timeline__trigger"
                >
                  <div
                    class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space"
                  >
                    <h3
                      class="slds-truncate"
                      title="Mobile conversation on Monday"
                    >
                      <a href="#">
                        <strong>Recent Comments</strong>
                      </a>
                    </h3>
                  </div>
                  <div
                    class="slds-timeline__actions slds-timeline__actions_inline"
                  >
                    <button
                      aria-haspopup="true"
                      class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small"
                      title="More"
                    >
                      <svg aria-hidden="true" class="slds-button__icon">
                        <use
                          xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"
                        ></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <article
                  aria-hidden="true"
                  class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small"
                  id="call-item-comments"
                >
                  <ul
                    class="slds-has-dividers_around slds-has-block-links_space"
                  >
                    <div
                      *ngIf="!applicant?.comments?.length; else showComments"
                    >
                      <span>No comment to display ...</span>
                    </div>
                    <ng-template #showComments>
                      <ng-container *ngFor="let comment of applicant.comments">
                        <li class="slds-item">
                          <div class="slds-p-around--xx-small">
                            <!-- <span
                              class="slds-popover_panel__label slds-truncate"
                              >{{ comment.commentBy }}</span
                            >
                            <p>{{ comment.comment }}</p> -->
                          </div>
                        </li>
                      </ng-container>
                    </ng-template>
                  </ul>
                </article>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </dl>
  </ng-container>
</ng-template>

<ng-template #closeDialog>
  <div class="slds-align--absolute-center sdl_outline-button-bitovi">
    <button (click)="close()" nglButton type="button" variant="neutral">
      &nbsp; Close &nbsp;
    </button>
  </div>
</ng-template>

<ng-template #widgetFilter>
  <div class="slds-p-around_small">
    <div class="slds-grid slds-wrap slds-p-bottom--large">
      <div
        class="slds-grid slds-gutters"
        *ngIf="applicantsFilter$ | async as filters"
      >
        <div class="slds-col">
          <ngl-datepicker-input
            [patternPlaceholder]="true"
            [value]="filters.date.startDate"
            (valueChange)="
              onChangeCustomStartDate($event, filters.date.endDate)
            "
            class="slds-p-around_none"
            format="little-endian"
            label="Start Date"
          >
            <input nglDatepickerInput type="text" />
          </ngl-datepicker-input>
        </div>

        <div class="slds-col">
          <ngl-datepicker-input
            [patternPlaceholder]="true"
            [value]="filters.date.endDate"
            (valueChange)="
              onChangeCustomEndDate($event, filters.date.startDate)
            "
            format="little-endian"
            label="End Date"
          >
            <input nglDatepickerInput type="text" />
          </ngl-datepicker-input>
        </div>
      </div>

      <div class="slds-col slds-p-top_medium">
        <brd-combobox
          label="Select Option"
          [options]="jobsLabels$ | async"
          (selectionChanged)="onItemSelected($event)"
          [selections]="itemSelected"
        ></brd-combobox>
      </div>
    </div>
  </div>
</ng-template>
