<section class="slds-box paginated-table" style="padding: 0">
  <table
    (sortChange)="onSort($event)"
    [sort]="(applicantsSort$ | async)!"
    [data]="(applicants$ | async)!"
    class="slds-table slds-table_fixed-layout slds-table_resizable-cols tables"
    ngl-datatable
    trackByKey="jobs.applicant_progress"
  >
    <ngl-datatable-column
      [sortable]="true"
      [truncate]="true"
      heading="Current Stage"
      key="jobs.applicant_progress"
    >
      <ng-template let-row="row" nglDatatableCell>
        {{ row.jobs[row.jobs.length - 1].applicant_progress }}
      </ng-template>
    </ngl-datatable-column>
    <ngl-datatable-column
      [sortable]="true"
      [truncate]="true"
      key="full_name"
      heading="Full Name"
    >
      <ng-template let-row="row" nglDatatableCell>
        <div class="slds-grid">
          <span class="slds-truncate slds-col slds-size_3-of-5">
            {{ row.full_name }}
          </span>
          <ngl-icon
            (click)="onClickInfo(row.id)"
            [nglPopoverFooter]="closeDialogBlock"
            [nglPopoverOpen]="(selectedId$ | async) === row.id"
            [nglPopover]="applicantDetailsBlock"
            [nglTooltipOpenAuto]="true"
            nglPopoverPlacement="right"
            alternativeText="Click to View"
            class="slds-m-bottom--xx-small slds-datepicker_time__list"
            iconName="utility:info"
            nglPopoverSize="large"
            nglPopoverVariant="panel"
            nglTooltip="Click to View"
            nglTooltipPlacement="top"
            size="x-small"
            variant="warning"
          ></ngl-icon>
        </div>
      </ng-template>
    </ngl-datatable-column>
    <ngl-datatable-column
      [sortable]="true"
      [truncate]="true"
      heading="Position"
      key="jobs.job_title"
    >
      <ng-template let-row="row" nglDatatableCell>
        {{ row.jobs[row.jobs.length - 1].job_title }}
      </ng-template>
    </ngl-datatable-column>
  </table>
  <div class="slds-clearfix">
    <ngl-pagination
      (pageChange)="onPageChange($event)"
      [page]="(applicantsCurrentPage$ | async)!"
      [perPage]="(applicantsPageSize$ | async)!"
      [boundaryNumbers]="1"
      [limit]="5"
      [total]="(totalApplicants$ | async)!"
      class="slds-float_right"
    ></ngl-pagination>
  </div>
</section>

<ng-template #applicantDetailsBlock>
  <brd-applicant-details
    *ngIf="selectedApplicant$ | async as applicant"
    [applicant]="selectedApplicant$ | async"
  ></brd-applicant-details>
</ng-template>

<ng-template #closeDialogBlock>
  <div class="slds-align--absolute-center sdl_outline-button-bitovi">
    <button
      (click)="closeUserInfoModal()"
      nglButton
      type="button"
      variant="neutral"
      class="u-min-w-5"
    >
      Close
    </button>
  </div>
</ng-template>
