// width
.u-min-w-5 {
  min-width: 5rem;
}

.u-w-100 {
  width: 100%;
}

// positioning

.flex {
  display: flex;

  &-column {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &.h {
    &-center {
      align-items: center;
    }

    &-start {
      align-items: flex-start;
    }
  }

  &.v {
    &-center {
      justify-content: center;
    }
  }
}
