<div class="slds-page-header slds-page-header_record-home slds-m-bottom--small">
  <div class="slds-page-header__row">
    <div class="slds-page-header__col-title">
      <div class="slds-media">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-opportunity">
            <svg aria-hidden="true" class="slds-icon slds-page-header__icon">
              <use
                xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"
              ></use>
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <div class="slds-page-header__name">
            <div class="slds-page-header__name-title">
              <h1>
                <span>Applicants</span>
                <span
                  class="slds-page-header__title slds-truncate"
                  title="Total Applicants"
                >Total Applicant - 1,200</span
                >
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-page-header__col-actions slds-show_medium">
      <div class="slds-page-header__controls">
        <div
          (nglPickChange)="onChange($event)"
          [(nglPick)]="selectedInput"
          class="slds-button-group"
          nglPickActiveClass="slds-button_brand"
          role="group"
        >
          <ng-container *ngFor="let option of options">
            <ng-container
              *ngIf="option.label !== filtersLabels.CUSTOM; else showCustom"
            >
              <button
                [nglPickOption]="option.label"
                [title]="option.label"
                nglButton
                type="button"
              >
                {{ option.label }}
              </button>
            </ng-container>
            <ng-template #showCustom>
              <button
                (click)="isCustomFilterPopoverOpen = !isCustomFilterPopoverOpen"
                [nglPickOption]="option.label"
                [nglPopoverCloseVisible]="true"
                [nglPopoverFooter]="footerClose"
                [nglPopoverOpen]="isCustomFilterPopoverOpen"
                [nglPopover]="dateRange"
                [title]="option.label"
                nglButton
                nglPopoverHeader="Set Date Range"
                nglPopoverPlacement="left"
                nglPopoverSize="large"
                type="button"
              >
                {{ option.label }}
              </button>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #dateRange>
  <div class="slds-grid slds-gutters_xx-small slds-p-bottom--large">
    <div class="slds-col">
      <ngl-datepicker-input
        (valueChange)="onChangeCustomStartDate($event)"
        [patternPlaceholder]="true"
        [value]="startDate"
        format="little-endian"
        label="Start Date"
      >
        <input nglDatepickerInput type="text">
      </ngl-datepicker-input>
    </div>

    <div class="slds-col">
      <ngl-datepicker-input
        (valueChange)="onChangeCustomEndDate($event)"
        [patternPlaceholder]="true"
        [value]="endDate"
        format="little-endian"
        label="End Date"
      >
        <input nglDatepickerInput type="text">
      </ngl-datepicker-input>
    </div>
  </div>
</ng-template>

<ng-template #footerClose>
  <div class="slds-align--absolute-center sdl_outline-button-bitovi">
    <button
      (click)="closeCustomFilterPopover()"
      nglButton
      type="button"
      variant="neutral"
    >
      &nbsp; Close &nbsp;
    </button>
  </div>
</ng-template>
