@use '../../../styles/vars' as vars;

.loader-overlay {
  display: flex;
  background: rgb(255 255 255 / 70%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.card-container {
  min-height: vars.$table-widget-height;
}

.chart-container {
  width: 100%;
  // height: calc(100% - 3rem);

}

.component-name {

}

element.style {
}

.slds-drop-zone__actions {
  left: 0;
  right: auto;
}
