<brd-header></brd-header>
<section
  class="slds-p-around_small slds-container_fluid app-container dashboard-height"
>
  <brd-page-filter-widget
    (selected)="setFilterState($event)"
    [endDate]="(endDate$ | async)!"
    [startDate]="(startDate$ | async)!"
    [totalApplicants]="(totalApplicants$ | async)!"
  ></brd-page-filter-widget>
  <brd-chart-picker
    (elementDragged)="setDraggedElement($event)"
  ></brd-chart-picker>

  <gridster
    [options]="gridOptions"
    class="no-background hide-border green-preview"
  >
    <gridster-item
      [item]="initialGridItems[index]"
      *ngFor="let widgetConfig of widgetConfigs; let index = index"
      [id]="widgetConfig.id"
    >
      <brd-widget-wrapper
        [config]="widgetConfig"
        (fullScreenChange)="setFullScreenWidget($event)"
      ></brd-widget-wrapper>
    </gridster-item>
  </gridster>
</section>

<ng-container *ngIf="selectedFullscreenWidget">
  <div class="chart-full-screen" (click)="setFullScreenWidget(null)">
    <brd-widget-wrapper
      [config]="selectedFullscreenWidget"
      [fullscreen]="true"
      (fullScreenChange)="setFullScreenWidget($event)"
      (click)="$event.stopPropagation()"
      style="width: 90%"
    ></brd-widget-wrapper>
  </div>
</ng-container>
