@use '../../styles/vars' as vars;

.table {
  min-height: 40.4vh;
}

.slds-grid_flex-start {
  align-content: flex-start;
}

.other-info {
  min-height: 60vh;
}

.placeholder {
  height: vars.$table-widget-height;
  width: calc(calc(var(--size, 0) / 3) * 100%);
  transition: width 1s ease-in-out;
  background-color: red;

}
