<brd-header></brd-header>
<section class="slds-p-around_small slds-container_fluid app-container">
  <brd-page-filter-widget
    (selected)="setFilterState($event)"
    [endDate]="(endDate$ | async)!"
    [startDate]="(startDate$ | async)!"
    [totalApplicants]="(totalApplicants$ | async)!"
  ></brd-page-filter-widget>
  <div class="slds-grid slds-gutters_xxx-small slds-wrap">
    <div
      class="slds-col slds-grid_vertical slds-grid_vertical-stretch slds-size_1-of-1 slds-large-size_8-of-12"
    >
      <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_2-of-2">
          <div class="slds-card table">
            <brd-data-table
              [isLoading]="applicantsLoading$ | async"
              [dataSet]="(applicants$ | async)!"
              [pageSize]="(applicantsPageSize$ | async)!"
              [currentPage]="(applicantsCurrentPage$ | async)!"
              [total]="(totalApplicants$ | async)!"
              [sort]="(applicantsSort$ | async)!"
              [filters]="(applicantsFilter$ | async)!"
              [jobsLabels]="(jobsLabels$ | async)!"
              (pageChange)="onPageChange($event)"
              (sortChange)="onSortChange($event)"
              (filterChange)="onApplicantsFilterChange($event)"
            ></brd-data-table>
          </div>
        </div>
        <div
          class="slds-col slds-m-top_small slds-large-size_1-of-2 slds-size_2-of-2"
        >
          <div class="slds-card pie-doughnut-chart">
            <brd-widgets-filter
              (showModal)="viewWidgetModal = $event"
              [widgetHeader]="doughnutChartFilterFields"
            ></brd-widgets-filter>
            <brd-dashboard-doughnut-chart
              [labels]="(recruitingStageExitedLabels$ | async)!"
              [values]="(recruitingStageExitedValues$ | async)!"
            ></brd-dashboard-doughnut-chart>
          </div>
        </div>
        <div
          class="slds-col slds-m-top_small slds-large-size_1-of-2 slds-size_2-of-2"
        >
          <div class="slds-card line-bar-chart">
            <div *ngIf="jobsApplicantsLoading$ | async; else showBarChart">
              <ngl-spinner
                size="large"
                variant="brand"
                alternativeText="Loading"
              ></ngl-spinner>
            </div>

            <ng-template #showBarChart>
              <brd-widgets-filter
                (showModal)="viewWidgetModal = $event"
                [widgetHeader]="barChartFilterFields"
              ></brd-widgets-filter>
              <brd-dashboard-bar-chart
                [dataSet]="(jobBarChartDataSet$ | async)!"
              ></brd-dashboard-bar-chart>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div
      class="slds-col slds-grid_vertical slds-grid_vertical-stretch slds-size_1-of-1 slds-large-size_4-of-12"
    >
      <div class="slds-m-top_small slds-hide_small"></div>
      <div class="slds-col slds-small-size_2-of-2">
        <div class="slds-card pie-chart">
          <div *ngIf="newApplicantsLoading$ | async; else showLineChart">
            <ngl-spinner
              size="large"
              variant="brand"
              alternativeText="Loading"
            ></ngl-spinner>
          </div>
          <ng-template #showLineChart>
            <brd-dashboard-line-chart
              [dataSet]="(applicantsLineChartDataSet$ | async)!"
            ></brd-dashboard-line-chart>
          </ng-template>
        </div>
      </div>
      <div class="slds-col slds-m-top_small slds-small-size_2-of-2">
        <div class="slds-card other-info">
          <div
            class="slds-box_x-small slds-text-align_center slds-m-around_x-small"
          >
            <!--<ngl-datepicker class="slds-box slds-box_x-small" [(date)]="date"></ngl-datepicker>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ngl-modal
  (close)="closeModal()"
  [(open)]="viewWidgetModal.openModal"
  [dismissOnClickOutside]="false"
  prompt="info"
  size="large"
>
  <div class="slds-p-around_medium">
    <ng-container
      *ngIf="viewWidgetModal.openedModal === dashboardWidgets.BAR_CHART"
    >
      <span *ngIf="jobsApplicantsLoading$ | async">LOADING</span>
      <brd-dashboard-bar-chart
        [dataSet]="(jobBarChartDataSet$ | async)!"
      ></brd-dashboard-bar-chart>
    </ng-container>
    <ng-container
      *ngIf="viewWidgetModal.openedModal === dashboardWidgets.DOUGHNUT_CHART"
    >
      <brd-dashboard-doughnut-chart></brd-dashboard-doughnut-chart>
    </ng-container>
  </div>
  <ng-template nglModalFooter>
    <button (click)="closeModal()" class="slds-button slds-button_neutral">
      Okay
    </button>
  </ng-template>
</ngl-modal>
