<header class="slds-page-header">
  <div class="slds-media slds-media_center slds-m-bottom_small">
    <span
      class="slds-icon_container slds-icon-standard-account slds-media__figure"
    >
      <ngl-icon iconName="standard:account"></ngl-icon
    ></span>
    <h2 class="slds-text-heading_medium slds-hyphenate">Applicant Details</h2>
  </div>

  <div
    class="slds-grid slds-wrap slds-grid_pull-padded slds-p-horizontal_small slds-size_1-of-1 slds-p-bottom_x-small"
  >
    <dl>
      <dt>
        <p class="slds-popover_panel__label slds-truncate" title="Name">Name</p>
      </dt>
      <dd>
        <p
          class="slds-truncate slds-m-left--large font-sm"
          [title]="applicant.first_name + ' ' + applicant.last_name"
        >
          {{ applicant.first_name + " " + applicant.last_name }}
        </p>
      </dd>
      <dt>
        <p class="slds-popover_panel__label slds-truncate" title="Address">
          Address
        </p>
      </dt>
      <dd>
        <p class="slds-m-left--large font-sm" [title]="applicant.location">
          {{ applicant.location }}
        </p>
      </dd>
      <dt>
        <p class="slds-popover_panel__label slds-truncate" title="Phone">
          Phone
        </p>
      </dt>
      <dd>
        <p
          class="slds-truncate slds-m-left--large font-sm"
          [title]="applicant.phone"
        >
          {{ applicant.phone }}
        </p>
      </dd>
    </dl>
    <span class="slds-text-body_small slds-float--right slds-text-align_right"
      ><a [href]="applicant?.resume_link" target="_blank">View Resume</a></span
    >
  </div>
</header>

<dl class="slds-popover__body-list">
  <dt class="slds-m-bottom_small">
    <div class="slds-media slds-media_center">
      <div
        class="slds-media__figure slds-icon_container slds-icon-standard-opportunity"
      >
        <ngl-icon iconName="standard:opportunity"></ngl-icon>
      </div>
      <div class="slds-media__body">
        <p class="slds-text-heading_small slds-hyphenate">All Activity</p>
      </div>
    </div>
  </dt>
  <ul class="slds-timeline">
    <li>
      <div
        [ngClass]="{ 'slds-is-open': activityTimelineIsOpened.activity }"
        class="slds-timeline__item_expandable slds-timeline__item_task"
      >
        <div class="slds-media">
          <div class="slds-media__figure">
            <button
              (click)="
                activityTimelineIsOpened.activity =
                  !activityTimelineIsOpened.activity
              "
              aria-controls="activity-item-recent"
              class="slds-button slds-button_icon"
              title="more"
            >
              <svg class="slds-button__icon slds-timeline__details-action-icon">
                <use
                  xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"
                ></use>
              </svg>
            </button>
            <div
              class="slds-icon_container slds-icon-standard-task slds-timeline__icon"
              title="task"
            >
              <ngl-icon
                iconName="standard:product_request"
                size="small"
              ></ngl-icon>
            </div>
          </div>
          <div class="slds-media__body">
            <div
              class="slds-grid slds-grid_align-spread slds-timeline__trigger"
            >
              <div
                class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space"
              >
                <p class="slds-truncate" title="Recent">
                  <a href="#">
                    <strong>Recent Activity</strong>
                  </a>
                </p>
              </div>
              <div class="slds-timeline__actions slds-timeline__actions_inline">
                <p class="slds-timeline__date">
                  {{ applicant.apply_date }}
                </p>
                <button
                  aria-haspopup="true"
                  class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small"
                  title="More"
                >
                  <svg aria-hidden="false" class="slds-button__icon">
                    <use
                      xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
            <article
              aria-hidden="true"
              class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small"
              id="activity-item-recent"
            >
              <ul class="slds-has-dividers_around slds-has-block-links_space">
                <div
                  *ngIf="!applicant?.activities?.length; else showActivities"
                >
                  <span>No activity to display ...</span>
                </div>
                <ng-template #showActivities>
                  <ng-container *ngFor="let activity of applicant.activities">
                    <li class="slds-item">
                      <div class="slds-p-around--xx-small">
                        <i class="slds-text-body_small slds-truncate">
                          {{ activity.date }}</i
                        >
                        <p>{{ activity.activity }}</p>
                      </div>
                    </li>
                  </ng-container>
                </ng-template>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div
        [class.slds-is-open]="activityTimelineIsOpened.comments"
        class="slds-timeline__item_expandable slds-timeline__item_call"
      >
        <div class="slds-media">
          <div class="slds-media__figure">
            <button
              (click)="
                activityTimelineIsOpened.comments =
                  !activityTimelineIsOpened.comments
              "
              aria-controls="call-item-comments"
              class="slds-button slds-button_icon"
              title="Toggle"
            >
              <svg
                aria-hidden="true"
                class="slds-button__icon slds-timeline__details-action-icon"
              >
                <use
                  xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"
                ></use>
              </svg>
              <span class="slds-assistive-text">Recent Comments</span>
            </button>
            <div
              class="slds-icon_container slds-icon-standard-log-a-call slds-timeline__icon"
              title="call"
            >
              <ngl-icon iconName="standard:quick_text" size="small"></ngl-icon>
            </div>
          </div>
          <div class="slds-media__body">
            <div
              class="slds-grid slds-grid_align-spread slds-timeline__trigger"
            >
              <div
                class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space"
              >
                <p class="slds-truncate" title="Mobile conversation on Monday">
                  <a href="#">
                    <strong>Recent Comments</strong>
                  </a>
                </p>
              </div>
              <div class="slds-timeline__actions slds-timeline__actions_inline">
                <button
                  aria-haspopup="true"
                  class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small"
                  title="More"
                >
                  <svg aria-hidden="true" class="slds-button__icon">
                    <use
                      xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
            <article
              aria-hidden="true"
              class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small"
              id="call-item-comments"
            >
              <ul class="slds-has-dividers_around slds-has-block-links_space">
                <div *ngIf="!applicant?.comments?.length; else showComments">
                  <span>No comment to display ...</span>
                </div>
                <ng-template #showComments>
                  <ng-container *ngFor="let comment of applicant.comments">
                    <li class="slds-item">
                      <div class="slds-p-around--xx-small">
                        <!-- <span
                            class="slds-popover_panel__label slds-truncate"
                            >{{ comment.commentBy }}</span
                          >
                          <p>{{ comment.comment }}</p> -->
                      </div>
                    </li>
                  </ng-container>
                </ng-template>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </li>
  </ul>
</dl>
